@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Inter Variable, sans-serif;
  --font-mono: var(--font-geist-mono);
  --font-jp: var(--font-jp);
}

* {
  font-feature-settings: "ss02" on;
}

body {
  font-family: var(--font-sans);
}
